.container {
  margin: 0 auto;
  max-width: 1200px;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 10pt;
  text-align: center;
  padding-top: 15pt;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 5pt;
  text-align: center;
}

body {
  background-color: rgb(189, 145, 189);
  /* background-image: url('~/wwwroot/img/wires.jpg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div#footer {
  letter-spacing: 10pt;
  text-align: center;
  text-transform: uppercase;
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
}

.card {
  margin: 20px;
}

img {
  height: 350px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 2px solid black;
  box-shadow: 15px 15px 15px gray;
}