.container {
  margin: 0 auto;
  max-width: 1200px;
}

div#footer {
  letter-spacing: 10pt;
  text-align: center;
  text-transform: uppercase;
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
}