@{
  Layout = "_Layout";
}

@model Factory.Models.Machine
<h2>Delete Machine</h2>
<hr />

<div class="container">
  <h4>Are you sure you want to delete this machine?</h4>

  <div class="form-group">
    @Html.DisplayFor(model => model.MachineName)
  </div>
  @using (Html.BeginForm())
  {
    <div class="form-group">
      <input type="submit" value="Delete" class="btn btn-default"/>
    </div>
  }

  <h3>@Html.ActionLink("Back to machine details", "Details", new { id = Model.MachineId }) </h3>
</div>