@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h4>Are you sure you want to delete this machine?</h4>

@Html.DisplayFor(model => model.MachineName)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-default"/>
}

<h3>@Html.ActionLink("Back to machine details", "Details", new { id = Model.MachineId }) </h3>